<mat-tab-group mat-align-tabs="start" backgroundColor="primary">

    <mat-tab label="BATCRONOLOGIA ">
        <ng-template mat-tab-label>
            BATCRONOLOGIA 🦇
        </ng-template>
        <app-teste></app-teste>
    </mat-tab>
    
    <mat-tab label="Cronologia">
        <app-cronologia></app-cronologia>
    </mat-tab>
    
    <mat-tab label="Personagens">
        <app-personagens></app-personagens>
    </mat-tab>
    
    <mat-tab label="Artistas">
        <app-artistas></app-artistas>
    </mat-tab>
    
    <mat-tab label="Sobre">
        <app-sobre></app-sobre>
    </mat-tab>

</mat-tab-group>